body{
    margin: auto;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#perfil { 
    width: 175px;
    height: auto;
    float:left; 
    margin-right: 20px;
}

.sobre{
    padding: 20px 20px 0px 20px;;
    display: inline-block;
}

.curriculo{
    margin: 0px 10px 10px 0px;
    padding: 20px;
}

 h3, .cabecalho{
    margin-left: 15px;
}

.section-text3, .section-text{
    margin-left: 15px;
}
.section-text3{
    padding-bottom: 15px;
}
